#about .container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px 50px;
}

.about-content{
    /* text-align: left; */
}

.about-content ul {
    list-style-type: none;
    margin-top: 10px;
}

.about-img img{
    width: 100%;
}

.about_body_skills{
    color: #454040;
    font-weight: bold;
}

@media screen and (min-width:769px){
    #about .container{
        flex-wrap: nowrap;
        /* padding-top: 0px; */
    }
    
}